.users_list{
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 0 12%;
}

#get_random{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}